@model Email;
@{
    Layout = "";
}
    <!DOCTYPE html>

<html>
<head>
    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Communication - Turbo.Js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="@Url.Content("~/images/dahsboard/Logo.png")"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }

        header{
            position: fixed;
            background: rgba(22,34,57,0.95);
            padding: 20px;
            width: 100%;
            height: 30px;
        }

        .left_area h3{
            color: #f5a425;
            margin: 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
        }

        .left_area span{
            color: #ffff
        }

        .logout_btn{
            padding: 5px;
            background-color: #f5a425;
            text-decoration: none;
            float: right;
            margin-top: -30px;
            margin-right: 40px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            transition: 0.5s;
            transition-property: background;
        }

        .logout_btn:hover{
            background: #f5a425;
        }

        .sidebar{
            background: rgba(22,34,57,0.95);
            margin-top: 70px;
            padding-top: 30px;
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
            transition: 0.5s;
            transition-property: left;
        }

        .sidebar .profile_image{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin-bottom: 10px;
        }

        .sidebar h4{
            color: #ccc;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .sidebar a{
            color: #fff;
            display: block;
            width: 100%;
            line-height: 60px;
            text-decoration: none;
            padding-left: 40px;
            box-sizing: border-box;
        }

        .sidebar a:hover{
            background: #f5a425;
        }

        .sidebar i{
            padding-right: 10px;

        }

        label #sidebar_btn{
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            font-size: 20px;
            margin: 5px 0;
        }

        label #sidebar_btn:hover{
            color: #f5a425;
        }

        #check:checked ~ .sidebar{
            left: -190px;
        }

        #check:checked ~ .sidebar a span{
            display: none;
        }

        #check:checked ~.sidebar a{
            font-size: 20px;
            margin-left: 170px;
            width: 80px;
        }

        .content{
            margin-left: 250px;
            background-position: center;
            background-size: cover;
            height: 93vh;
            max-height: 93vh;
            overflow: scroll;
            transition: 0.5s;
            transform: translateY(70px);
        }

        ::-webkit-scrollbar {
            display: none;
        }

        #check:checked ~ .content{
            margin-left: 60px;
        }

        #check{
            display: none;
        }

        input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #f5a425;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #f5a425;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100%;
}

.loader{
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.loader_img{
    transform: translateY(50%);
    width: 20%;
    height: 40%;
}   
</style>
</head>
<body>
    <input type="checkbox" id="check"/>
    <!--Header area start-->
     <header>
         <label for="check">
             <i class="fa-solid fa-bars" id="sidebar_btn"></i>
         </label>
         <div class="left_area">
             <h3>Turbo <span>JS</span></h3>
         </div>
         <div class="right_area">
             <a href="#" class="logout_btn" onclick="LogOut()">Logout</a>
         </div>
     </header>
    <!--Header area end-->
    <!--Sidebar start-->
    <div class="sidebar">
        <center>
            <img src="~/images/Admin/Dashboard/user.jpg" class="profile_image" alt="User Img" />
            <h4>Janu Fourie</h4>
        </center>
        <a href="#" onclick="Dashboard()"><i class="fa-solid fa-desktop"></i> <span>Dashboard</span></a>
        <a href="#" onclick="Reporting()"><i class="fa-solid fa-file-pdf"></i> <span>Reporting</span></a>
        <a href="#" onclick="Analytics()"><i class="fa-solid fa-chart-pie"></i> <span>Analytics</span></a>
        <a href="#" onclick="Courses()"><i class="fa-solid fa-book"></i> <span>Courses</span></a>
        <a href="#" onclick="Modules()"><i class="fa-solid fa-book-open"></i> <span>Modules</span></a>
        <a href="#" onclick="User()"><i class="fa-solid fa-user"></i> <span>Users</span></a>
        <a href="#" onclick="Communication()"><i class="fa-solid fa-comment"></i> <span>Communication</span></a>
    </div>
    <!--Sidebar end-->
    <div class="content">
        <div class="loader" id="load_container">
            <img class="loader_img" src="~/images/Admin//mailGif.gif" alt="loader" />
        </div>
        <div class="container">
                <label for="receiver">Receiver</label>
                <select id="receiver" name="country" onchange="ReceiverChanged(this)" required>
                    <option value="">-- Select --</option>
                </select>

                <label for="lname">Subject</label>
                <input type="text" oninput="SubjectChange(this)" id="lname" name="lastname" placeholder="Purpose of this email" required>

                <label for="message">Message</label>
                <textarea oninput="MessageChanged(this)" id="message" name="subject" placeholder="Write email content..." style="height:200px" required></textarea>

                <input id="submitEmail" onclick="SendEmail()" type="submit" value="Submit">
                
    </div>
    </div>
</body>
</html>

<script>
var receiver = "";
var subject = "";
var message = "";

$( document ).ready(function() {
        
        $.ajax({
            "url": "@Url.Action("GetAllUsers", "AdminUsers")",
            "async": true,
            "type": "GET",
            "dataType": "Json",
            "success": function (response) {
                PopulateTotals(response);
              },
        "error": function(response) {
            alert("Error fetching user data");
            console.log(response)
        }
             });
    });

    function PopulateTotals(users){
        var html = '';
        var selectElem = document.getElementById("receiver");
    for (var user of users ) {
        var element = document.createElement("option");
        element.value = user.email;
        element.innerText = user.username;
        selectElem.append(element);
    }
    }

function ReceiverChanged(selectObject) {
    receiver = selectObject.value;
}

function SubjectChange(textObject) {
    subject = textObject.value;
}

function MessageChanged(textObject) {
    message = textObject.value;
}

function SendEmail(){
    if (receiver === "" || subject === "" || message === "") {
        toastr.error("Please fill in all fields");
    }else{
        $('#load_container').css({"display":"block"});
        $.ajax({
            "url": "/AdminCommunication/SendEmail",
            "async": true,
            "data": {
                user: receiver,
                subj: subject,
                body: message
                },
            "type": "POST",
            "dataType": "Json",
            "success": function (response) {
                toastr.success("Email sent");
                        },
            "error": function (response) {
                if (response.status === 200) {
                    $('#load_container').css({"display":"none"});
                     toastr.success("Email sent");
                } else {
                    toastr.success("Error sending email");
                }
              }
             });
    }
        
}

function LogOut() {
    window.location = '@Url.Action("Index", "Home")';
}
function Dashboard() {
    window.location = '@Url.Action("AdminDashboard", "AdminDashboard")';
}
function Reporting() {
    window.location = '@Url.Action("Index", "AdminReporting")';
}
function Analytics() {
    window.location = '@Url.Action("Index", "AdminAnalytics")';
}
function Courses() {
    window.location = '@Url.Action("Index", "AdminCourses")';
}
function Modules() {
    window.location = '@Url.Action("Index", "AdminModules")';
}
function User() {
    window.location = '@Url.Action("Index", "AdminUsers")';
}
function Communication() {
    window.location = '@Url.Action("Index", "AdminCommunication")';
}
</script>

